h1, p {
  font-family: Lato;
}
body{
  background-color: rbg(241,243,244);
}

@import url('https://unpkg.com/bootstrap/dist/css/bootstrap.min.css');
.custom-input-container{
  padding: 20px;
}
.visible-class{
  color:rgb(199, 6, 6);
  margin: -10px;
  padding: -10px;
}
.hiden-class{
  width: 450px;
  color:rgb(122, 173, 173);
  display: none;
}
.icon-size:hoover{
  color: rgb(9, 48, 61);
}
.icon-size{
  width: 25px;
  height:35px;
  color: black;
  margin: 5px;
}
.banner{
  width: 300px;
  height: 200;
  
}
.span-test{
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-end: 10px;
}
.card-into-cart{
  border-color: black;
  width:200px;
}
.search-button{
  margin-left:-30px;
  color:rgb(74, 114, 146);
  background-color:rgb(229, 240, 247);
  border:none;
}
.card-ui{
   float: left;
   margin: 5px;
   padding: -15px;
}
.cart-collaps{
  position: absolute;
  z-index: 2
}
.button-color-all{
  color:rgb(74, 114, 146);
  background-color:rgb(229, 240, 247);
  border:none;
}
.left-site-badge-Cart{
  margin-left: auto;
  margin-right: 0px;
}
.order-list-item{
  list-style: none;
}
